 /* General Styles */
 body {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}


/* SIGN UP PAGE */

marquee {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 12px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

marquee span{
    font-size: 1.5rem ;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% { color: rgb(255, 255, 255); }
    50% { color:aqua}
    100% { color: rgb(0, 162, 255) }
}

.sign-up-page{
    background-image: url("assests/sign-up-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 100vh;
}

.sign-up-table{
    height: 450px;
    width: 350px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    margin-top:9%;
    margin-left: 4%;
    position: fixed;
}

.sign-up-h{
    text-align: center; 
    font-size: 1.5rem ;
}

.sign-up-btn{
    text-align: center;
}

.sign-up-btn a{
    text-decoration: none;
    background-color: transparent;
    border: none ;
}

.sign-up-btn input{
    text-align: center;
    border-radius: 5px;
    padding: 5px 7px;
}

@media (min-width: 680px) and (max-width: 1050px) {
    .sign-up-table{
        margin-top:15%;
        margin-left: 10%;
    }
}

@media (max-width: 680px) {
    .sign-up-table{
        margin-top:25%;
        margin-left: 6%;
    }
}
 
/* MOON Overview */
/* Home Page */
.home {
    background: url('assests/Moon-bg.jpg') no-repeat center center/cover;
    height: 120vh;
    width: 100%;
}
.home-text{
    padding: 10% 5%;
}

.home-text h1 {
    font-size: 2.5rem;
    color: rgba(206, 134, 239, 0.7);
    margin: 5% 0 1% ;
    text-shadow:0px 0px 5px rgb(174, 0, 255) ;
}

.home-text p {
    font-size: 1.2rem;
    color: whitesmoke;
    display: inline-block;
    width: 730px;
    line-height: 30px;
    margin: 0.5% 0 3% 0.5%;
    text-shadow: 0px 0px 5px rgba(177, 53, 234, 1);
}

.home-text .btn {
    background-color: black;
    color: rgba(206, 134, 239, 0.7);
    border: 1px solid rgba(206, 134, 239, 0.7);
    box-shadow: 0px 0px 5px;
    border-radius: 25px;
    padding: 15px;
    text-decoration: none;
    margin-left: 25%;
    text-shadow:0px 0px 5px rgb(174, 0, 255) ;
}

.home-text .btn:hover {
    background-color: rgba(206, 134, 239, 0.7);
    color: whitesmoke;
    border-color: rgba(206, 134, 239, 0.7);
    text-shadow: 0px 0px 2px;
}

/* More Information */
body{
    background-color: black;
}

.about-moon {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px 50px;
    gap: 15px;
    margin-top: 5%;
}

.about-moon > .box {
    border: 2px solid white;
    border-radius: 10px;
    width: 600px;
    height: 200px;
    color: whitesmoke;
    text-align: center;
    padding: 20px;
    box-shadow: inset 0px 0px 5px;
}

.about-moon h1{
    color: rgb(177, 53, 234) ;
    text-shadow:0px 0px 5px rgb(174, 0, 255) ;
}

.about-moon p{
    font-size: 1.5rem;
    overflow: auto;
    text-shadow: 0px 0px 5px rgba(177, 53, 234, 1);
}

.about-moon span {
    color: rgb(188, 78, 239);
    text-shadow:0px 0px 5px rgb(174, 0, 255) ;
}

.phases-btn{
    width: 50%;
    margin: 5% 15%;
    text-align: center;
}

.phases-btn a{
    color: rgba(206, 134, 239, 0.7);
    border: 1px solid rgba(206, 134, 239, 0.7);
    box-shadow: 0px 0px 5px;
    border-radius: 25px;
    padding: 15px;
    text-decoration: none;
    text-shadow:0px 0px 5px rgb(174, 0, 255) ;
}

.phases-btn a:hover {
    background-color: rgba(206, 134, 239, 0.7);
    color: whitesmoke;
    border-color: rgba(206, 134, 239, 0.7);
}

/* Phases */
.phases {
    color: whitesmoke;
    padding: 75px 0 0;
}

.phases table {
    width: 100%;
    border-collapse: collapse;
    margin: auto;
    display: inline-block; 
    padding: 15%; 
    padding-top: 0px;
}

.phases h1{
    font-size: 3.5rem;
    color: rgba(206, 134, 239, 0.7);
    text-shadow: 0px 0px 5px;   
    text-align: center;
    text-shadow: 0px 0px 5px rgba(177, 53, 234, 1);
}

.phases thead{
    border-radius: 5px;
}

.phases thead th{
    color: white;
    background-color: rgb(227, 134, 239);
    text-shadow: 0px 0px 5px rgb(174, 0, 255);
    box-shadow: inset 0px 0px 5px;
    padding: 2% 0;
    text-align: center;
    font-size: 1.2rem;
}

.name-col{
    width: 15%;
}

.img-col{
    height: auto;
    width: 15%;
}

.phases td {
    border: 2px solid #ddd;
    text-shadow: 0px 0px 6px rgba(177, 53, 234, 1);
}

.name-description{
    font-size: 1.2rem;
    text-align: center;
    padding: 2%;

}

.phases-of-moon {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    padding: 15%;
}

.phases tr:hover {
    background-color: rgba(206, 134, 239, 0.7);
    box-shadow:0px 0px 5px rgb(174, 0, 255) ;
}

.home-btn{
    color: rgba(206, 134, 239, 0.7);
    border: 1px solid rgba(206, 134, 239, 0.7);
    box-shadow: 0px 0px 5px;
    border-radius: 25px;
    padding: 15px;
    text-decoration: none;
    text-shadow: 0px 0px 2.5px rgba(255, 255, 255, 1);
    float: right;
    margin-right: 10%;
}

.home-btn:hover{
    background-color: rgba(206, 134, 239, 0.7);
    color: whitesmoke;
    border-color: rgba(206, 134, 239, 0.7);
}

/* Lunar Libration */
.lunar-libration img {
    display: block;
    margin: 10% auto 0 auto;
}

.lunar-libration h1{
    color:rgb(198, 112, 238);
    text-align: center;
    text-shadow:0px 0px 5px rgb(174, 0, 255) ;
}

/* Media Queries */

@media (max-width: 768px) {
    .home {
        background: url('assests/Moon-bg.jpg') no-repeat left right/cover;
        height: 100vh;
    }
    .home-text{
        padding: 18% 8%;
    }
    
    .home-text h1 {
        font-size: 3rem;
        margin-bottom: 2%;
    }
    
    .home-text p {
        font-size: 1rem;
        width: 300px;
        line-height: 1.5rem;
        margin-bottom: 10%;
    }

    /* more-info */
    .about-moon {
        padding: 30px;
        gap: 10px;
        margin-top: 10%;
    }

    .about-moon > div {
        width: 100%;
        height: auto;
        padding: 15px;
    }

    .about-moon h1 {
        font-size: 1.5rem;
    }

    .about-moon p {
        font-size: 1.2rem;
    }

    /* phases */
    .phases{
        width: 400px;
    }

    .phases h1{
        font-size: 2.5rem;
    }

    .phases-of-moon {
        height: 50px;
        width: 50px;
    }

    .name-col{
        width: 30%;
    }
    
    .img-col{
        height: auto;
        width: 25%;
    }

    .name-description{
        font-size: 1rem;
        text-align: left;
        padding: 2%;
    
    }

    /* Lunar libration */
    .lunar-libration img {
        margin: 15%;
        margin-bottom: 5%;
        width: 15rem;
        height: 15rem;
    }
}

@media (min-width: 768px) and (max-width: 1050px) {

    .home{
        padding-top: 30%;
    }

    .home-text h1{
        font-size: 3rem;
    }

    .home-text p {
        width: 500px;
        font-size: 1.5rem;
        line-height: 1.5;
    }

    .about-moon {
        flex-direction: row;
        justify-content: space-between;
        padding: 10%;
        padding-top: 0;
        gap: 10px;
    }

    .about-moon > div {
        width: 45%;
        height: auto;
        padding: 15px;
    }

    .about-moon h1 {
        font-size: 1.4rem;
    }

    .about-moon p {
        font-size: 1.2rem;
    }

    .phases-of-moon {
        height: 75px;
        width: 75px;
    }

    .name-col{
        width: 20%;
    }
    
    .img-col{
        height: auto;
        width: 25%;
    }

    .name-description{
        font-size: 1rem;
        text-align: left;
        padding: 2%;
    
    }

    .phases-btn {
        font-size: 1rem;
        padding: 10px;
        margin: 3% 5%;
    }

    /* Lunar Libration */
    .lunar-libration img {
        margin: 15%;
        margin-bottom: 5%;
        width: 30rem;
        height: 30rem;
    }
}